<div>
    <h2 data-translate="eBorgesApp.tesisDirector.home.title">Tesis Directors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tesis-director.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="eBorgesApp.tesisDirector.home.createLabel">
                        Create new Tesis Director
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'eBorgesApp.tesisDirector.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tesis">Tesis</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.investigador1">Investigador 1</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tipoasesor1">Tipoasesor 1</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.investigador2">Investigador 2</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tipoasesor2">Tipoasesor 2</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.investigador3">Investigador 3</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tipoasesor3">Tipoasesor 3</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.investigador4">Investigador 4</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tipoasesor4">Tipoasesor 4</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.investigador5">Investigador 5</span></th>
                    <th><span data-translate="eBorgesApp.tesisDirector.tipoasesor5">Tipoasesor 5</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tesisDirector in vm.tesisDirectors track by tesisDirector.id">
                    <td><a ui-sref="tesis-director-detail({id:tesisDirector.id})">{{tesisDirector.id}}</a></td>
                    <td>
                        <a ui-sref="tesis-detail({id:tesisDirector.tesis.id})">{{tesisDirector.tesis.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="investigador-detail({id:tesisDirector.investigador1.id})">{{tesisDirector.investigador1.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-asesor-detail({id:tesisDirector.tipoasesor1.id})">{{tesisDirector.tipoasesor1.ntipo}}</a>
                    </td>
                    <td>
                        <a ui-sref="investigador-detail({id:tesisDirector.investigador2.id})">{{tesisDirector.investigador2.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-asesor-detail({id:tesisDirector.tipoasesor2.id})">{{tesisDirector.tipoasesor2.ntipo}}</a>
                    </td>
                    <td>
                        <a ui-sref="investigador-detail({id:tesisDirector.investigador3.id})">{{tesisDirector.investigador3.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-asesor-detail({id:tesisDirector.tipoasesor3.id})">{{tesisDirector.tipoasesor3.ntipo}}</a>
                    </td>
                    <td>
                        <a ui-sref="investigador-detail({id:tesisDirector.investigador4.id})">{{tesisDirector.investigador4.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-asesor-detail({id:tesisDirector.tipoasesor4.id})">{{tesisDirector.tipoasesor4.ntipo}}</a>
                    </td>
                    <td>
                        <a ui-sref="investigador-detail({id:tesisDirector.investigador5.id})">{{tesisDirector.investigador5.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-asesor-detail({id:tesisDirector.tipoasesor5.id})">{{tesisDirector.tipoasesor5.ntipo}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tesis-director-detail({id:tesisDirector.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tesis-director.edit({id:tesisDirector.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tesis-director.delete({id:tesisDirector.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
