
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTesisDirectorLabel" data-translate="eBorgesApp.tesisDirector.home.createOrEditLabel">Create or edit a Tesis Director</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tesisDirector.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tesisDirector.id" readonly />
        </div>

        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tesis" for="field_tesis">Tesis</label>
            <select class="form-control" id="field_tesis" name="tesis" ng-model="vm.tesisDirector.tesis" ng-options="tesis as tesis.id for tesis in vm.teses track by tesis.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.investigador1" for="field_investigador1">Investigador 1</label>
            <select class="form-control" id="field_investigador1" name="investigador1" ng-model="vm.tesisDirector.investigador1" ng-options="investigador as investigador.id +investigadornombre for investigador in vm.investigadors track by investigador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tipoasesor1" for="field_tipoasesor1">Tipoasesor 1</label>
            <select class="form-control" id="field_tipoasesor1" name="tipoasesor1" ng-model="vm.tesisDirector.tipoasesor1" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.investigador2" for="field_investigador2">Investigador 2</label>
            <select class="form-control" id="field_investigador2" name="investigador2" ng-model="vm.tesisDirector.investigador2" ng-options="investigador as investigador.id for investigador in vm.investigadors track by investigador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tipoasesor2" for="field_tipoasesor2">Tipoasesor 2</label>
            <select class="form-control" id="field_tipoasesor2" name="tipoasesor2" ng-model="vm.tesisDirector.tipoasesor2" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.investigador3" for="field_investigador3">Investigador 3</label>
            <select class="form-control" id="field_investigador3" name="investigador3" ng-model="vm.tesisDirector.investigador3" ng-options="investigador as investigador.id for investigador in vm.investigadors track by investigador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tipoasesor3" for="field_tipoasesor3">Tipoasesor 3</label>
            <select class="form-control" id="field_tipoasesor3" name="tipoasesor3" ng-model="vm.tesisDirector.tipoasesor3" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.investigador4" for="field_investigador4">Investigador 4</label>
            <select class="form-control" id="field_investigador4" name="investigador4" ng-model="vm.tesisDirector.investigador4" ng-options="investigador as investigador.id for investigador in vm.investigadors track by investigador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tipoasesor4" for="field_tipoasesor4">Tipoasesor 4</label>
            <select class="form-control" id="field_tipoasesor4" name="tipoasesor4" ng-model="vm.tesisDirector.tipoasesor4" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.investigador5" for="field_investigador5">Investigador 5</label>
            <select class="form-control" id="field_investigador5" name="investigador5" ng-model="vm.tesisDirector.investigador5" ng-options="investigador as investigador.id for investigador in vm.investigadors track by investigador.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesisDirector.tipoasesor5" for="field_tipoasesor5">Tipoasesor 5</label>
            <select class="form-control" id="field_tipoasesor5" name="tipoasesor5" ng-model="vm.tesisDirector.tipoasesor5" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
