<script type="text/javascript">
    function showContent() {
        element = document.getElementById("content");
        check = document.getElementById("check");
        if (check.checked) {
            element.style.display='block';
        }
        else {
            element.style.display='none';
        }
        element = document.getElementById("content1");
        check = document.getElementById("check1");
        if (check.checked) {
            element.style.display='block';
        }
        else {
            element.style.display='none';
        }
        element = document.getElementById("content2");
        check = document.getElementById("check2");
        if (check.checked) {
            element.style.display='block';
        }
        else {
            element.style.display='none';
        }
        element = document.getElementById("content3");
        check = document.getElementById("check3");
        if (check.checked) {
            element.style.display='block';
        }
        else {
            element.style.display='none';
        }
        element = document.getElementById("content4");
        check = document.getElementById("check4");
        if (check.checked) {
            element.style.display='block';
        }
        else {
            element.style.display='none';
        }
    }
</script>

<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTesisLabel" data-translate="eBorgesApp.tesis.home.createOrEditLabel">Create or edit a Tesis</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tesis.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tesis.id" readonly />
        </div>
        <div class="form-group" >
            <h1 >{{vm.tesis.id}}</h1>
            <label class="control-label" data-translate="eBorgesApp.tesis.titulodetesis" for="field_titulodetesis">Titulodetesis</label>
            <input type="text" class="form-control" name="titulodetesis" id="field_titulodetesis"
                    ng-model="vm.tesis.titulodetesis" 
                    />
        </div>
        <!-- <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.fechadepublicacion" for="field_fechadepublicacion">Fechadepublicacion</label>
                <div class="input-group">
                    <input id="field_fechadepublicacion" type="text" class="form-control" name="fechadepublicacion" datetime-picker="{{dateformat}}" ng-model="vm.tesis.fechadepublicacion" is-open="vm.datePickerOpenStatus.fechadepublicacion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechadepublicacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div> -->
        <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.resumen" for="field_resumen">Resumen</label>
            <!-- <input type="text" class="form-control" name="resumen" id="field_resumen"
                    ng-model="vm.tesis.resumen"
                    /> -->
              
                <textarea 
                type="text" class="form-control" name="resumen" id="field_resumen"
                ng-model="vm.tesis.resumen"
                    cols="30" 
                    rows="4">
                </textarea>
                
        </div>
        <!-- <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.clasificacion" for="field_clasificacion">Clasificacion</label>
            <input type="text" class="form-control" name="clasificacion" id="field_clasificacion"
                    ng-model="vm.tesis.clasificacion"
                    />
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.clasificacion1" for="field_clasificacion1">Clasificacion 1</label>
            <input type="text" class="form-control" name="clasificacion1" id="field_clasificacion1"
                    ng-model="vm.tesis.clasificacion1"
                    />
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.anio" for="field_anio">Anio</label>
            <input type="number" class="form-control" name="anio" id="field_anio"
                    ng-model="vm.tesis.anio"
                    />
        </div> -->
        <!-- <div class="form-group">
            <label class="control-label" data-translate="eBorgesApp.tesis.mes" for="field_mes">Mes</label>
            <input type="number" class="form-control" name="mes" id="field_mes"
                    ng-model="vm.tesis.mes"
                    />
        </div> -->

        <div class="form-group">
            <label data-translate="eBorgesApp.tesis.alumno" for="field_alumno">Alumno</label>
            <select class="form-control" id="field_alumno" name="alumno" ng-model="vm.tesis.alumno" 
            ng-options="alumno as alumno.matricula+ alumno.nombre + alumno.apellido1 for alumno 
            in vm.alumnos track by alumno.id" ng-disabled="vm.tesis.alumno">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesis.grado" for="field_grado">Grado</label>
            <select class="form-control" id="field_grado" name="grado" ng-model="vm.tesis.departamento" 
            ng-options="grado as grado.ngrado for grado in vm.grados track by grado.id" 
            ng-disabled="vm.tesis.departamento">
                <option value=""></option>
            </select>
        </div>
        

        <div class="form-group">
            <label data-translate="eBorgesApp.tesis.unidad" for="field_unidad">Unidad</label>
            <select class="form-control" id="field_unidad" name="unidad" ng-model="vm.tesis.unidad" 
            ng-options="unidad as unidad.nunidad for unidad in vm.unidads track by unidad.id"  ng-disabled="vm.tesis.unidad">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="eBorgesApp.tesis.departamento" for="field_departamento">Departamento</label>
            <select class="form-control" id="field_departamento" name="departamento" ng-model="vm.tesis.departamento" 
            ng-options="departamento as departamento.ndepartamento for departamento in vm.departamentos track by departamento.id" 
            ng-disabled="vm.tesis.departamento">
                <option  value=""></option>
            </select>
        </div>
        <div class="form-group" >
            <div class="class col-md-12">
                <div class="class col-md-7" >
                    <!-- <h1 ng-if="vm.tesis.departamento.ndepartamento === 'Física'"> entrooooo</h1> -->
                    <label data-translate="eBorgesApp.tesis.investigador1" for="field_investigador1">Investigador 1</label>
                    
                    <!-- <select   ng-switch="vm.tesis.departamento" class="form-control" id="field_investigador1" name="investigador1" ng-model="vm.tesis.investigador1" ng-options="investigador as investigador.departamento.ndepartamento + investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id">
                
                investigador.departamento.ndepartamento
                
                -->
                <!-- ng-if="investigador.departamento.ndepartamento === vm.tesis.departamento.ndepartamento" -->
                 
                    <!-- <select  ng-disabled="!vm.tesis.departamento"  class="form-control" id="field_investigador1" name="investigador1" ng-model="vm.tesis.investigador1"  
                    ng-options="investigador as investigador.departamento.ndepartamento  for investigador in vm.investigadors track by investigador.id " >
                        <option  value="" ></option>
                    </select> -->


                    

                    <select class="form-control" id="field_investigador1" name="investigador1" ng-model="vm.tesis.investigador1"  
                    ng-options="investigador as investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id "
                    ng-disabled="vm.tesis.investigador1" >
                        <option  value="" ></option>
                    </select>
                   
                </div>


                <!-- termina -->


                <div class="clas col-md-3">
                    <div class="form-group">
                        <label data-translate="eBorgesApp.tesis.tipoasesor1" for="field_tipoasesor1">Tipoasesor 1</label>
                        <select   class="form-control" id="field_tipoasesor1" name="tipoasesor1" ng-model="vm.tesis.tipoasesor1" 
                        ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id"
                        ng-disabled="vm.tesis.tipoasesor1" >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <!-- <div class="clss col-md-2">
                    <b>¿Es externo?</b>
                    <input type="checkbox" name="check" id="check" value="1" onchange="javascript:showContent()" />
                </div> -->
            </div>
            <!-- <div id="content" style="display: none;">
                <form name="editForm" role="form" novalidate ng-submit="vm.save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="vm.clear()">&times;</button>
                        <h4 class="modal-title" id="myInvestigadorLabel" data-translate="eBorgesApp.investigador.home.createOrEditLabel">Create or edit a Investigador</h4>
                    </div>
                    <div class="modal-body">
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" ng-show="vm.investigador.id">
                            <label for="id" data-translate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                    ng-model="vm.investigador.id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="control-label" >Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="field_nombre"
                                    ng-model="vm.investigador.nombre"
                                    />
                        </div>
                        <div class="form-group">
                            <label class="control-label" data-translate="eBorgesApp.investigador.apellido1" for="field_apellido1">Apellido 1</label>
                            <input type="text" class="form-control" name="apellido1" id="field_apellido1"
                                    ng-model="vm.investigador.apellido1"
                                    />
                        </div>
                        <div class="form-group">
                            <label class="control-label" data-translate="eBorgesApp.investigador.apellido2" for="field_apellido2">Apellido 2</label>
                            <input type="text" class="form-control" name="apellido2" id="field_apellido2"
                                    ng-model="vm.investigador.apellido2"
                                    />
                        </div>
                        <div class="form-group">
                            <label class="control-label" data-translate="eBorgesApp.investigador.esexterno" for="field_esexterno">Esexterno</label>
                                <input type="checkbox" name="esexterno" id="field_esexterno"
                                        ng-model="vm.investigador.esexterno"/>
                        </div>

                        <div class="form-group">
                            <label data-translate="eBorgesApp.investigador.genero" for="field_genero">Genero</label>
                            <select class="form-control" id="field_genero" name="genero" ng-model="vm.investigador.genero" ng-options="genero as genero.ngenero for genero in vm.generos track by genero.id">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label data-translate="eBorgesApp.investigador.grado" for="field_grado">Grado</label>
                            <select class="form-control" id="field_grado" name="grado" ng-model="vm.investigador.grado" ng-options="grado as grado.ngrado for grado in vm.grados track by grado.id">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label data-translate="eBorgesApp.investigador.departamento" for="field_departamento">Departamento</label>
                            <select class="form-control" id="field_departamento" name="departamento" ng-model="vm.investigador.departamento" ng-options="departamento as departamento.ndepartamento for departamento in vm.departamentos track by departamento.id">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>

            </div> -->
        </div>
        <div class="form-group">
            <div class="class col-md-12">
                <div class="class col-md-7">
                    <label data-translate="eBorgesApp.tesis.investigador2" for="field_investigador2">Investigador 2</label>
                    <select class="form-control" id="field_investigador2" name="investigador2" ng-model="vm.tesis.investigador2" ng-options="investigador as investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id"
                    ng-disabled="vm.tesis.investigador2">
                        <option value=""></option>
                    </select>
                </div>
                <div class="class col-md-3">
                    <div class="form-group">
                        <label data-translate="eBorgesApp.tesis.tipoasesor2" for="field_tipoasesor2">Tipoasesor 2</label>
                        <select class="form-control" id="field_tipoasesor2" name="tipoasesor2" ng-model="vm.tesis.tipoasesor2" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id" 
                        ng-disabled="vm.tesis.tipoasesor2"></select>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <!-- <div class="class col-md-2">
                    <b>¿Es externo?</b>
                    <input type="checkbox" name="check1" id="check1" value="1" onchange="javascript:showContent()" />
                </div> -->
            </div>
            <div id="content1" style="display: none;">
                contenido del div escondido<br/>
                contenido del div escondido<br/>
                contenido del div escondido<br/>
            </div>
        </div>
        <div class="form-group">
            <div class="class col-md-12">
                <div class="class col-md-7">
                    <label data-translate="eBorgesApp.tesis.investigador3" for="field_investigador3">Investigador 3</label>
                    <select class="form-control" id="field_investigador3" name="investigador3" ng-model="vm.tesis.investigador3" ng-options="investigador as investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id"
                    ng-disabled="vm.tesis.investigador3">
                        <option value=""></option>
                    </select>
                </div>
                <div class="class col-md-3">
                    <div class="form-group">
                        <label data-translate="eBorgesApp.tesis.tipoasesor3" for="field_tipoasesor3">Tipoasesor 3</label>
                        <select class="form-control" id="field_tipoasesor3" name="tipoasesor3" 
                        ng-model="vm.tesis.tipoasesor3"
                         ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id"
                         ng-disabled="vm.tesis.tipoasesor3">
                            <option value=""></option>
                        </select>
                    </div>
                <!-- </div>
                <div class="class col-md-2">
                    <b>¿Es externo?</b>
                    <input type="checkbox" name="check2" id="check2" value="1" onchange="javascript:showContent()" />
                </div> -->
            </div>
            <div id="content2" style="display: none;">
                contenido del div escondido<br/>
                contenido del div escondido<br/>
                contenido del div escondido<br/>
            </div>
        </div>
        <div class="form-group">
            <div class="class col-md-12">
                <div class="class col-md-7">
                    <label data-translate="eBorgesApp.tesis.investigador4" for="field_investigador4">Investigador 3</label>
                    <select class="form-control" id="field_investigador4" name="investigador4" ng-model="vm.tesis.investigador4" ng-options="investigador as investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id"
                    ng-disabled="vm.tesis.investigador4">
                        <option value=""></option>
                    </select>
                </div>
                <div class="class col-md-3">
                    <div class="form-group">
                        <label data-translate="eBorgesApp.tesis.tipoasesor4" for="field_tipoasesor4">Tipoasesor 3</label>
                        <select class="form-control" id="field_tipoasesor4" name="tipoasesor4" ng-model="vm.tesis.tipoasesor4" ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id"
                        ng-disabled="vm.tesis.tipoasesor4">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <!-- <div class="class col-md-2">
                    <b>¿Es externo?</b>
                    <input type="checkbox" name="check3" id="check3" value="1" onchange="javascript:showContent()" />
                </div> -->
            </div>
            <div id="content3" style="display: none;">
                contenido del div escondido<br/>
                contenido del div escondido<br/>
                contenido del div escondido<br/>
            </div>
        </div>
        <div class="form-group">
            <div class="class col-md-12">
                <div class="class col-md-7">
                    <label data-translate="eBorgesApp.tesis.investigador5" for="field_investigador5">Investigador 3</label>
                    <select class="form-control" id="field_investigador5" name="investigador5" ng-model="vm.tesis.investigador5" ng-options="investigador as investigador.id +
                    investigador.nombre + investigador.apellido1 + investigador.apellido2
                    for investigador in vm.investigadors track by investigador.id"
                    ng-disabled="vm.tesis.investigador5">
                        <option value=""></option>
                    </select>
                </div>
                <div class="class col-md-3">
                    <div class="form-group">
                        <label data-translate="eBorgesApp.tesis.tipoasesor5" for="field_tipoasesor5">Tipoasesor 3</label>
                        <select class="form-control" id="field_tipoasesor5" name="tipoasesor5"
                         ng-model="vm.tesis.tipoasesor5"
                          ng-options="tipoAsesor as tipoAsesor.ntipo for tipoAsesor in vm.tipoasesors track by tipoAsesor.id"
                          ng-disabled="vm.tesis.tipoasesor5">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <!-- <div class="class col-md-2">
                    <b>¿Es externo?</b>
                    <input type="checkbox" name="check4" id="check4" value="1" onchange="javascript:showContent()" />
                </div> -->
            </div>
            <div id="content4" style="display: none;">
                contenido del div escondido<br/>
                contenido del div escondido<br/>
                contenido del div escondido<br/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
