<nav class="navbar navbar-default" role="navigation">
   
        <div class="container">
            <a class="navbar-brand" href="" >
                <!-- <img class="logo-img" src="content/images/logo-hipster.png" alt="logo"/> -->
                <span  data-translate="global.title" class="glyphicon glyphicon-expand " style="font-size:30px;" onclick="w3_taggle()" ng-hide="!vm.isAuthenticated()" ></span>
            </a>
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                    <img class="logo-img" src="content/images/logo-hipster.png" alt="logo"/>
                                            
                    <span data-translate="global.title">e-Borges....Jh</span> <span class="navbar-version">v{{VERSION}}</span>
                </a>
            </div> -->
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <li>

                    </li>
                    <!-- <li ui-sref-active="active">
                        <a ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                        </a>
                    </li> -->
                    <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                    <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                            <span>
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm" data-translate="global.menu.entities.main">
                                    Entities
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <!-- ng-if="login==='admin'" -->
                            <li ui-sref-active="active" ng-if="login==='admin'">
                                    <a ui-sref="unidad" ng-click="vm.collapseNavbar()" >
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.unidad">Unidad</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="especialidad" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.especialidad">Especialidad</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="genero" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.genero">Genero</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="departamento" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.departamento">Departamento</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="grado" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.grado">Grado</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="alumno" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.alumno">Alumno</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="investigador" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.investigador">Investigador</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="acta" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.acta">Acta</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="sinodal" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.sinodal">Sinodal</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tipo-asesor" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tipoAsesor">Tipo Asesor</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tesis" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tesis">Tesis</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tesis-director" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tesisDirector">Tesis Director</span>
                                    </a>
                                </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                    <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-sm" data-translate="global.menu.account.main">
                                    Account
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                    <span data-translate="global.menu.account.settings">Settings</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                    <span data-translate="global.menu.account.password">Password</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a href="" ng-click="vm.logout()" id="logout">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                    <span data-translate="global.menu.account.logout">Sign out</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a href="" ng-click="vm.login()" id="login">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                    <span data-translate="global.menu.account.login">Sign in</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                    <span data-translate="global.menu.account.register">Register</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                            <span>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span data-translate="global.menu.admin.userManagement">User management</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span data-translate="global.menu.admin.health">Health</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                    <span data-translate="global.menu.admin.audits">Audits</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                    <span data-translate="global.menu.admin.logs">Logs</span>
                                </a>
                            </li>
                            <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                                    <span data-translate="global.menu.admin.apidocs">API</span>
                                </a>
                            </li>
                            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        </ul>
                    </li>
                    <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                            <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                                <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large"
    onclick="w3_close()">Cerrar &times;</button>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>
  
<div id="main2">
  
    <div class="w3-teal">
        <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_taggle()">&#9776;</button>
        <div class="w3-container">
            
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li ui-sref-active="active">
                        <a ui-sref="home" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="hidden-sm" data-translate="global.menu.home">Home</span>
                        </a>
                    </li> -->
                    <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                    <li>
                        <h1>Borges</h1>
                        <a ui-sref="home"   ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-home">  </span>
                        </a>
                    </li>
                    <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                            <span>
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm" data-translate="global.menu.entities.main">
                                    Entities
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <!-- ng-if="login==='admin'" -->
                            <li ui-sref-active="active" ng-if="login==='admin'">
                                    <a ui-sref="unidad" ng-click="vm.collapseNavbar()" >
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.unidad">Unidad</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="especialidad" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.especialidad">Especialidad</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="genero" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.genero">Genero</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="departamento" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.departamento">Departamento</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="grado" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.grado">Grado</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="alumno" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.alumno">Alumno</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="investigador" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.investigador">Investigador</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="acta" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.acta">Acta</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="sinodal" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.sinodal">Sinodal</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tipo-asesor" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tipoAsesor">Tipo Asesor</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tesis" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tesis">Tesis</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="tesis-director" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.tesisDirector">Tesis Director</span>
                                    </a>
                                </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                    <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                            <span>
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="hidden-sm" data-translate="global.menu.account.main">
                                    Account
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                    <span data-translate="global.menu.account.settings">Settings</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                    <span data-translate="global.menu.account.password">Password</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="true">
                                <a href="" ng-click="vm.logout()" id="logout">
                                    <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                    <span data-translate="global.menu.account.logout">Sign out</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a href="" ng-click="vm.login()" id="login">
                                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                    <span data-translate="global.menu.account.login">Sign in</span>
                                </a>
                            </li>
                            <li ui-sref-active="active" ng-switch-when="false">
                                <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                    <span data-translate="global.menu.account.register">Register</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                            <span>
                                <span class="glyphicon glyphicon-tower"></span>
                                <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span data-translate="global.menu.admin.userManagement">User management</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span data-translate="global.menu.admin.health">Health</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                    <span data-translate="global.menu.admin.audits">Audits</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                    <span data-translate="global.menu.admin.logs">Logs</span>
                                </a>
                            </li>
                            <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                                    <span data-translate="global.menu.admin.apidocs">API</span>
                                </a>
                            </li>
                            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        </ul>
                    </li>
                    <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                            <span>
                                <span class="glyphicon glyphicon-flag"></span>
                                <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                            <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                                <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> 
        </div>
    </div>
    
</div>
  

  
  <script>
//   function w3_open() {
//     document.getElementById("main").style.marginLeft = "55%";
//     document.getElementById("mySidebar").style.width = "25%";
//     document.getElementById("mySidebar").style.display = "block";
//     document.getElementById("openNav").style.display = 'none';
//   }
  function w3_close() {
    document.getElementById("main2").style.marginLeft = "0%";
    document.getElementById("main").style.marginLeft = "0%";
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("openNav").style.display = "inline-block";
  }
  </script>
  